<!-- <div appCustdir>
<p >service1 works!</p>

    <h1>HELLO</h1>
</div> -->


<div appCustdir>

    <h2>Premium Support Plus</h2>
    <p>
        Dell’s most comprehensive support plan allows you to get the most out of your PC.
        From technology that predicts and fixes problems, to extra protection with Accidental Damage coverage,
        you’ll enjoy round-the-clock support for you and your PC.
        Monthly or Yearly Home PC Service Plans help you save time and money.
        Our subscription plans offer the greatest flexibility to change your coverage to best suit your needs.
        Explore our wide range of Support Services for Home to discover what works best for you.
    </p>

</div>

<div>
    <button type="button" class="btn btn-danger" (click)="onBack()">Back</button>
</div>